/*
* jcarousel mixin
* @author Lee Rowlands (rowlandsgroup.com)
* @param $selector carousel selector)
* @param $carousel_width 
* @param $carousel_height
* @param $carousel_padding 
* @param $item_width 
* @param $item_height 
* @param $item_margin 
* @param $button_width 
* @param $button_height 
* @param $button_image 
* @param $button_top
* @param $button_left 
* @param $button_right 
* @param $button_left_position (background position)
* @param $button_right_position 
* @param $button_left_position_hover 
* @param $button_right_position_hover 
* @param $button_left_position_disabled 
* @param $button_right_position_disabled
*/
/* Featured Video Carousel */
.view-omf-common-featured-images {
  /**
   *  Horizontal Buttons
   */ }
  .view-omf-common-featured-images .jcarousel-container-horizontal {
    width: 300px;
    height: 200px;
    padding: 0 40px;
    margin: auto; }
  .view-omf-common-featured-images .jcarousel-clip-horizontal {
    width: 300px;
    overflow: hidden; }
  .view-omf-common-featured-images .jcarousel-item {
    padding: 0;
    width: 255px;
    height: 200px;
    overflow: hidden;
    border: none;
    list-style: none; }
  .view-omf-common-featured-images .jcarousel-item-horizontal {
    margin: 0 22.5px; }
  .view-omf-common-featured-images .jcarousel-next,
  .view-omf-common-featured-images .jcarousel-prev {
    display: block;
    width: 25px;
    height: 250px;
    background-image: url(../images/carousel_arrows.png); }
  .view-omf-common-featured-images .jcarousel-prev-horizontal {
    position: absolute;
    top: -20px;
    left: 0px;
    background-position: 0 -500px; }
  .view-omf-common-featured-images .jcarousel-prev-horizontal:active,
  .view-omf-common-featured-images .jcarousel-prev-horizontal:hover {
    background-position: 0 -250px; }
  .view-omf-common-featured-images .jcarousel-prev-disabled-horizontal,
  .view-omf-common-featured-images .jcarousel-prev-disabled-horizontal:hover,
  .view-omf-common-featured-images .jcarousel-prev-disabled-horizontal:active {
    cursor: default;
    background-position: 0 0; }
  .view-omf-common-featured-images .jcarousel-next-horizontal {
    position: absolute;
    top: -20px;
    right: 0px;
    background-position: -25px -500px; }
  .view-omf-common-featured-images .jcarousel-next-horizontal:active,
  .view-omf-common-featured-images .jcarousel-next-horizontal:hover {
    background-position: -25px -250px; }
  .view-omf-common-featured-images .jcarousel-next-disabled-horizontal,
  .view-omf-common-featured-images .jcarousel-next-disabled-horizontal:hover,
  .view-omf-common-featured-images .jcarousel-next-disabled-horizontal:active {
    cursor: default;
    background-position: -25px 0; }

/* Featured Images Carousel */
.view-omf-common-featured-video {
  /**
   *  Horizontal Buttons
   */ }
  .view-omf-common-featured-video .jcarousel-container-horizontal {
    width: 300px;
    height: 200px;
    padding: 0 40px;
    margin: auto; }
  .view-omf-common-featured-video .jcarousel-clip-horizontal {
    width: 300px;
    overflow: hidden; }
  .view-omf-common-featured-video .jcarousel-item {
    padding: 0;
    width: 255px;
    height: 200px;
    overflow: hidden;
    border: none;
    list-style: none; }
  .view-omf-common-featured-video .jcarousel-item-horizontal {
    margin: 0 22.5px; }
  .view-omf-common-featured-video .jcarousel-next, .view-omf-common-featured-video .jcarousel-prev {
    display: block;
    width: 25px;
    height: 250px;
    background-image: url(../images/carousel_arrows.png); }
  .view-omf-common-featured-video .jcarousel-prev-horizontal {
    position: absolute;
    top: -20px;
    left: 0px;
    background-position: 0 -500px; }
  .view-omf-common-featured-video .jcarousel-prev-horizontal:active, .view-omf-common-featured-video .jcarousel-prev-horizontal:hover {
    background-position: 0 -250px; }
  .view-omf-common-featured-video .jcarousel-prev-disabled-horizontal, .view-omf-common-featured-video .jcarousel-prev-disabled-horizontal:hover, .view-omf-common-featured-video .jcarousel-prev-disabled-horizontal:active {
    cursor: default;
    background-position: 0 0; }
  .view-omf-common-featured-video .jcarousel-next-horizontal {
    position: absolute;
    top: -20px;
    right: 0px;
    background-position: -25px -500px; }
  .view-omf-common-featured-video .jcarousel-next-horizontal:active, .view-omf-common-featured-video .jcarousel-next-horizontal:hover {
    background-position: -25px -250px; }
  .view-omf-common-featured-video .jcarousel-next-disabled-horizontal, .view-omf-common-featured-video .jcarousel-next-disabled-horizontal:hover, .view-omf-common-featured-video .jcarousel-next-disabled-horizontal:active {
    cursor: default;
    background-position: -25px 0; }

#region-front-images-carousel h2 {
  font-family: 'Changa One', cursive;
  font-style: italic;
  font-size: 62px;
  text-shadow: -1px -1px 0px #eeeeee, 1px 2px 20px black; }
#region-front-images-carousel .field-content img {
  max-width: 100%;
  width: 100%;
  height: auto; }
