$blue: #2a448b;

/*
* jcarousel mixin
* @author Lee Rowlands (rowlandsgroup.com)
* @param $selector carousel selector)
* @param $carousel_width 
* @param $carousel_height
* @param $carousel_padding 
* @param $item_width 
* @param $item_height 
* @param $item_margin 
* @param $button_width 
* @param $button_height 
* @param $button_image 
* @param $button_top
* @param $button_left 
* @param $button_right 
* @param $button_left_position (background position)
* @param $button_right_position 
* @param $button_left_position_hover 
* @param $button_right_position_hover 
* @param $button_left_position_disabled 
* @param $button_right_position_disabled
*/
@mixin horizontal-jcarousel($selector, $carousel_width: 300px,
  $carousel_height: 200px, $carousel_padding: 0 40px, $carousel_margin: auto,
  $item_width: 255px, $item_height: 200px, $item_margin: 0 22.5px,
  $button_width: 25px, $button_height: 250px,
  $button_image: url(../images/carousel_arrows.png), $button_top: -20px,
  $button_left: 0px, $button_right: 0px, $button_left_position: 0 -500px,
  $button_right_position: -25px -500px, $button_left_position_hover: 0 -250px,
  $button_right_position_hover: -25px -250px,
  $button_left_position_disabled: 0 0,
  $button_right_position_disabled: -25px 0) {
  #{$selector} {
    .jcarousel-container-horizontal {
      width: $carousel_width;
      height: $carousel_height;
      padding: $carousel_padding;
      margin: $carousel_margin;
    }
    .jcarousel-clip-horizontal {
      width: $carousel_width;
      overflow: hidden;
    }
    
    .jcarousel-item {
      padding: 0;
      width: $item_width;
      height: $item_height;
      overflow: hidden;
      border: none;
      list-style: none;
    }
    .jcarousel-item-horizontal {
      margin: $item_margin;
    }
    .jcarousel-next,
    .jcarousel-prev {
      display: block;
      width: $button_width;
      height: $button_height;
      background-image: $button_image;
    }
    
    /**
     *  Horizontal Buttons
     */
    .jcarousel-prev-horizontal {
      position: absolute;
      top: $button_top;
      left: $button_left;
      background-position: $button_left_position;
    }
    .jcarousel-prev-horizontal:active,
    .jcarousel-prev-horizontal:hover {
      background-position: $button_left_position_hover
    }
    .jcarousel-prev-disabled-horizontal,
    .jcarousel-prev-disabled-horizontal:hover,
    .jcarousel-prev-disabled-horizontal:active {
      cursor: default;
      background-position: $button_left_position_disabled      
    }
    .jcarousel-next-horizontal {
      position: absolute;
      top: $button_top;
      right: $button_right;
      background-position: $button_right_position;
    }
    .jcarousel-next-horizontal:active,
    .jcarousel-next-horizontal:hover {
      background-position: $button_right_position_hover;
    }
    .jcarousel-next-disabled-horizontal,
    .jcarousel-next-disabled-horizontal:hover,
    .jcarousel-next-disabled-horizontal:active {
      cursor: default;
      background-position: $button_right_position_disabled      
    }
  }
}

/* Featured Video Carousel */
@include horizontal-jcarousel(".view-omf-common-featured-images");

/* Featured Images Carousel */
@include horizontal-jcarousel(".view-omf-common-featured-video");
#region-front-images-carousel {
  h2 {
    font-family: 'Changa One', cursive;
    font-style: italic;
    font-size: 62px;
    text-shadow: -1px -1px 0px #eee, 1px 2px 20px black;
  }
  .field-content {
    img {
      max-width: 100%;
      width: 100%;
      height: auto;
    }
  }
}

