@import url(http://fonts.googleapis.com/css?family=Changa+One:400italic);
/* Colors */
/* Theme the menu */
#region-branding {
  margin-right: 0px; }
  #region-branding .logo-img {
    margin-right: 0px; }

#region-menu {
  margin-left: 0px; }

#section-content {
  background: url("../images/overlay-diagonal.png"), -webkit-gradient(linear, 0% 0%, 0% 4%, from(#666666), to(#040707), color-stop(0.1, #333333)); }

#main-menu {
  display: block; }
  #main-menu li {
    display: block;
    padding: 0px; }
    #main-menu li a {
      padding: 10px;
      display: block;
      padding: 0;
      height: 78px;
      text-align: left;
      font-size: 50px;
      text-decoration: none;
      padding-left: 20px;
      font-family: 'Changa One', cursive;
      font-style: italic; }

/* Theme the tables */
table thead tr, table thead th {
  background-color: #2a448b;
  color: white;
  font-weight: bold;
  font-family: 'Changa One', cursive;
  font-style: italic;
  font-size: 24px; }
table tbody .custom-price {
  font-size: 20px; }
table tbody tr.odd, table tbody tr.even {
  background-color: transparent; }
  table tbody tr.odd td, table tbody tr.even td {
    background-color: transparent; }

#omf-main-menu-buy-tickets,
#omf-main-menu-about-us,
#omf-main-menu-about-event,
#omf-main-menu-contact,
#omf-main-menu-faq,
#omf-main-menu-facilities,
#omf-main-menu-artists {
  color: white;
  width: 380px; }

#omf-main-menu-buy-tickets {
  background-color: #8e277e; }

#omf-main-menu-about-us {
  background-color: #cbc132; }

#omf-main-menu-about-event {
  background-color: #2a448b; }

#omf-main-menu-contact {
  background-color: #8e277e; }

#omf-main-menu-faq {
  background-color: #832026; }

#omf-main-menu-facilities {
  background-color: #c37033; }

#omf-main-menu-artists {
  background-color: #cbc132; }

html {
  background-color: #040707;
  color: white; }

#section-footer {
  background-color: background_color;
  color: white;
  min-height: 200px;
  border-top: 2px solid white; }
  #section-footer #block-menu-menu-omf-common-footer-menu .block-title {
    display: none; }
  #section-footer #block-menu-menu-omf-common-footer-menu ul {
    float: right; }
    #section-footer #block-menu-menu-omf-common-footer-menu ul li {
      float: left;
      list-style: none; }
      #section-footer #block-menu-menu-omf-common-footer-menu ul li a {
        color: #6f6f6f;
        text-decoration: none;
        font-size: 16px;
        font-family: 'Changa One', cursive;
        font-style: italic; }
        #section-footer #block-menu-menu-omf-common-footer-menu ul li a:hover {
          color: white; }

#zone-branding-wrapper img {
  max-width: 100%; }

/* Fix the width of the youtube media to work responsively */
#media-youtube-1 {
  max-width: 100%!important; }

/* Setup the artist about column */
#artist-about-column .field-name-field-omf-artist-banner img {
  max-width: 100%;
  height: auto; }
#artist-about-column .field-name-field-omf-artist-banner {
  margin-bottom: 10px; }

/* Setup the artist media column */
#artist-media-column .artist-media {
  /* Setup the music player as responsive */ }
  #artist-media-column .artist-media .jp-audio {
    width: auto;
    clear: right;
    margin-bottom: 10px; }
    #artist-media-column .artist-media .jp-audio .jp-interface {
      height: 144px; }
      #artist-media-column .artist-media .jp-audio .jp-interface .jp-progress {
        top: 72px;
        left: 20px; }
      #artist-media-column .artist-media .jp-audio .jp-interface .jp-current-time {
        top: 92px;
        left: 20px; }
      #artist-media-column .artist-media .jp-audio .jp-interface .jp-duration {
        top: 92px;
        left: 20px; }
      #artist-media-column .artist-media .jp-audio .jp-interface .jp-volume-bar {
        top: 120px;
        left: 50px; }
      #artist-media-column .artist-media .jp-audio .jp-interface .jp-controls .jp-mute {
        top: 115px;
        left: 20px; }

/* Apply icons to the social media links */
#artist-media-column .artist-social-links {
  position: relative;
  top: -10px; }
  #artist-media-column .artist-social-links .omf-youtube-link, #artist-media-column .artist-social-links .omf-fb-link, #artist-media-column .artist-social-links .omf-twitter-link, #artist-media-column .artist-social-links .omf-myspace-link, #artist-media-column .artist-social-links .omf-remote-link {
    display: inline;
    float: right;
    width: 32px;
    display: block;
    height: 32px;
    text-indent: -10000px;
    background: transparent url(../images/social_media.png) no-repeat top left; }
  #artist-media-column .artist-social-links .omf-fb-link {
    background-position: -64px 0; }
  #artist-media-column .artist-social-links .omf-twitter-link {
    background-position: -32px 0; }
  #artist-media-column .artist-social-links .omf-myspace-link {
    background-position: -96px 0; }
  #artist-media-column .artist-social-links .omf-remote-link {
    background-position: -128px 0; }

#block-system-main .view-omf-artist-featured .omf-artist-featured-title a {
  text-decoration: none;
  color: white; }

/* Line Breaks */
#section-content {
  padding-bottom: 60px; }

#zone-content {
  margin-bottom: 40px;
  padding-top: 40px; }

#region-front-images-carousel {
  border-bottom: solid white 1px;
  padding-bottom: 80px; }

/* Theme the jplayer */
div.jp-interface {
  border: 1px solid black;
  background-color: #111; }

div.jp-playlist {
  background-color: #111;
  border: 1px solid black; }

div.jp-type-playlist div.jp-playlist a.jp-playlist-current {
  color: white;
  font-size: 16px; }

div.jp-video div.jp-video-play {
  background: transparent url("../images/jplayer.png") no-repeat center;
  /* position: relative; */
  position: absolute;
  cursor: pointer;
  z-index: 2; }

a.jp-play {
  background: url("../images/jplayer.png") 0 0 no-repeat; }

a.jp-play:hover {
  background: url("../images/jplayer.png") -41px 0 no-repeat; }

a.jp-pause {
  background: url("../images/jplayer.png") 0 -42px no-repeat;
  display: none; }

a.jp-pause:hover {
  background: url("../images/jplayer.png") -41px -42px no-repeat; }

a.jp-stop {
  background: url("../images/jplayer.png") 0 -83px no-repeat;
  width: 28px;
  height: 28px;
  z-index: 1; }

a.jp-stop:hover {
  background: url("../images/jplayer.png") -29px -83px no-repeat; }

a.jp-previous {
  background: url("../images/jplayer.png") 0 -112px no-repeat;
  width: 28px;
  height: 28px; }

a.jp-previous:hover {
  background: url("../images/jplayer.png") -29px -112px no-repeat; }

a.jp-next {
  background: url("../images/jplayer.png") 0 -141px no-repeat;
  width: 28px;
  height: 28px; }

a.jp-next:hover {
  background: url("../images/jplayer.png") -29px -141px no-repeat; }

div.jp-progress {
  position: absolute;
  overflow: hidden;
  background-color: #ddd; }

div.jp-seek-bar {
  background: url("../images/jplayer.png") -1px -201px repeat-x;
  width: 0px;
  /* height:15px; */
  height: 100%;
  cursor: pointer; }

div.jp-play-bar {
  background: url("../images/jplayer.png") -1px -218px repeat-x;
  width: 0px;
  /* height:15px; */
  height: 100%; }

a.jp-mute {
  background: url("../images/jplayer.png") -3px -185px no-repeat; }

a.jp-mute:hover {
  background: url("../images/jplayer.png") -19px -170px no-repeat; }

a.jp-unmute {
  background: url("../images/jplayer.png") 0 -170px no-repeat;
  display: none; }

a.jp-unmute:hover {
  background: url("../images/jplayer.png") -19px -186px no-repeat; }

div.jp-volume-bar {
  position: absolute;
  overflow: hidden;
  background: url("../images/jplayer.png") 0 -250px repeat-x;
  width: 46px;
  height: 5px;
  cursor: pointer; }

div.jp-volume-bar-value {
  background: url("../images/jplayer.png") -1px -256px repeat-x;
  width: 0px;
  height: 5px; }

#region-footer-first {
  margin-top: 10px; }
