/*
 * @file gradient-buttons.scss
 * Provides gradient button mixin
 * @copyright Copyright(c) 2011 Rowlands Group
 * @license GPL v3 http://www.fsf.org/licensing/licenses/gpl.html
 * @author Lee Rowlands leerowlands at rowlandsgroup dot com
 * 
 */

@mixin gradient-button($selector, $bgcolor, $textcolor, $bordercolor, $radius: 3px,
                       $borderwidth: 1px, $padding: 6px 7px) {
  #{$selector},
  #{$selector}:link {
    padding: $padding;
    font-size: 16px;
    font-family: Kreon, serif;
    line-height: 1;
    text-decoration: none;
    text-align: center;
    white-space: nowrap;
    text-transform: uppercase;
    margin: 0; 				
    -webkit-border-radius: $radius;
    -moz-border-radius: $radius;
    border-radius: $radius;
    color: $textcolor;
    border: 1px solid $bordercolor;
    border-width: $borderwidth;
    cursor:pointer;
    background: $bgcolor; /* old browsers */
    background: -moz-linear-gradient(top, lighten($bgcolor, 20%) 0%, lighten($bgcolor, 13%) 2%, lighten($bgcolor, 7%) 98%, $bgcolor 100%); /* firefox */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,lighten($bgcolor, 20%)), color-stop(2%,lighten($bgcolor, 13%)), color-stop(98%,lighten($bgcolor, 7%)), color-stop(100%,$bgcolor)); /* webkit */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#{lighten($bgcolor, 20%)}', endColorstr='#{$bgcolor}',GradientType=0 ); /* ie */
  }
  #{$selector}:hover {
    text-decoration:none;
    color:darken($textcolor, 5%);
    background: lighten($bgcolor, 20%); /* old browsers */
    background: -moz-linear-gradient(top, lighten($bgcolor, 0%) 0%, lighten($bgcolor, 7%) 2%, lighten($bgcolor, 13%) 98%, $bgcolor 100%); /* firefox */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,lighten($bgcolor, 0%)), color-stop(2%,lighten($bgcolor, 13%)), color-stop(98%,lighten($bgcolor, 7%)), color-stop(100%,ligthen($bgcolor, 20%))); /* webkit */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#{lighten($bgcolor, 0%)}', endColorstr='#{lighten($bgcolor,20%)}',GradientType=0 ); /* ie */
  }
  #{$selector}:active {
    top:1px;
    position: relative;
    color:darken($textcolor, 5%);
    background: lighten($bgcolor, 20%); /* old browsers */
    background: -moz-linear-gradient(top, lighten($bgcolor, 0%) 0%, lighten($bgcolor, 7%) 2%, lighten($bgcolor, 13%) 98%, $bgcolor 20%); /* firefox */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,lighten($bgcolor, 0%)), color-stop(2%,lighten($bgcolor, 13%)), color-stop(98%,lighten($bgcolor, 7%)), color-stop(100%,ligthen($bgcolor, 20%))); /* webkit */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#{lighten($bgcolor, 0%)}', endColorstr='#{lighten($bgcolor,20%)}',GradientType=0 ); /* ie */
  }	  
}