/* This file will hold styles that are loaded using the same media query as the normal grid. */
#omf-main-menu-buy-tickets:hover {
  background-color: #c37033; }

#omf-main-menu-about-us:hover {
  background-color: #8e277e; }

#omf-main-menu-about-event:hover {
  background-color: #2a448b; }

#omf-main-menu-contact:hover {
  background-color: #cbc132; }

#omf-main-menu-faq:hover {
  background-color: #8e277e; }

#omf-main-menu-facilities:hover {
  background-color: #2a448b; }

#omf-main-menu-artists:hover {
  background-color: #cbc132; }

#main-menu {
  margin-bottom: 0;
  margin-left: 10px;
  margin-right: -10px; }
  #main-menu li {
    height: 45px;
    width: 134px;
    float: left;
    display: inline;
    margin: 0; }
    #main-menu li .first {
      margin-left: 10px; }
    #main-menu li .last {
      margin-right: 10px; }
    #main-menu li a {
      padding-left: 0;
      display: block;
      height: 45px;
      width: 134px;
      display: block;
      background-color: transparent;
      font-size: 24px;
      text-align: center;
      text-decoration: none;
      font-family: 'Changa One', cursive;
      font-style: italic; }

#block-system-main .view-omf-artist-lineup {
  /* Loop through and assign left and right margins as 0
    for roughly 100 records */
  /* All Other Rows */ }
  #block-system-main .view-omf-artist-lineup .views-row-1 {
    margin-left: 0; }
  #block-system-main .view-omf-artist-lineup .views-row-5 {
    margin-left: 0; }
  #block-system-main .view-omf-artist-lineup .views-row-4 {
    margin-right: 0; }
  #block-system-main .view-omf-artist-lineup .views-row-9 {
    margin-left: 0; }
  #block-system-main .view-omf-artist-lineup .views-row-8 {
    margin-right: 0; }
  #block-system-main .view-omf-artist-lineup .views-row-13 {
    margin-left: 0; }
  #block-system-main .view-omf-artist-lineup .views-row-12 {
    margin-right: 0; }
  #block-system-main .view-omf-artist-lineup .views-row-17 {
    margin-left: 0; }
  #block-system-main .view-omf-artist-lineup .views-row-16 {
    margin-right: 0; }
  #block-system-main .view-omf-artist-lineup .views-row-21 {
    margin-left: 0; }
  #block-system-main .view-omf-artist-lineup .views-row-20 {
    margin-right: 0; }
  #block-system-main .view-omf-artist-lineup .views-row-25 {
    margin-left: 0; }
  #block-system-main .view-omf-artist-lineup .views-row-24 {
    margin-right: 0; }
  #block-system-main .view-omf-artist-lineup .views-row-29 {
    margin-left: 0; }
  #block-system-main .view-omf-artist-lineup .views-row-28 {
    margin-right: 0; }
  #block-system-main .view-omf-artist-lineup .views-row-33 {
    margin-left: 0; }
  #block-system-main .view-omf-artist-lineup .views-row-32 {
    margin-right: 0; }
  #block-system-main .view-omf-artist-lineup .views-row-37 {
    margin-left: 0; }
  #block-system-main .view-omf-artist-lineup .views-row-36 {
    margin-right: 0; }
  #block-system-main .view-omf-artist-lineup .views-row-41 {
    margin-left: 0; }
  #block-system-main .view-omf-artist-lineup .views-row-40 {
    margin-right: 0; }
  #block-system-main .view-omf-artist-lineup .views-row-45 {
    margin-left: 0; }
  #block-system-main .view-omf-artist-lineup .views-row-44 {
    margin-right: 0; }
  #block-system-main .view-omf-artist-lineup .views-row-49 {
    margin-left: 0; }
  #block-system-main .view-omf-artist-lineup .views-row-48 {
    margin-right: 0; }
  #block-system-main .view-omf-artist-lineup .views-row-53 {
    margin-left: 0; }
  #block-system-main .view-omf-artist-lineup .views-row-52 {
    margin-right: 0; }
  #block-system-main .view-omf-artist-lineup .views-row-57 {
    margin-left: 0; }
  #block-system-main .view-omf-artist-lineup .views-row-56 {
    margin-right: 0; }
  #block-system-main .view-omf-artist-lineup .views-row-61 {
    margin-left: 0; }
  #block-system-main .view-omf-artist-lineup .views-row-60 {
    margin-right: 0; }
  #block-system-main .view-omf-artist-lineup .views-row-65 {
    margin-left: 0; }
  #block-system-main .view-omf-artist-lineup .views-row-64 {
    margin-right: 0; }
  #block-system-main .view-omf-artist-lineup .views-row-69 {
    margin-left: 0; }
  #block-system-main .view-omf-artist-lineup .views-row-68 {
    margin-right: 0; }
  #block-system-main .view-omf-artist-lineup .views-row-73 {
    margin-left: 0; }
  #block-system-main .view-omf-artist-lineup .views-row-72 {
    margin-right: 0; }
  #block-system-main .view-omf-artist-lineup .views-row-77 {
    margin-left: 0; }
  #block-system-main .view-omf-artist-lineup .views-row-76 {
    margin-right: 0; }
  #block-system-main .view-omf-artist-lineup .views-row-81 {
    margin-left: 0; }
  #block-system-main .view-omf-artist-lineup .views-row-80 {
    margin-right: 0; }
