/* This file will hold styles that are loaded using the same media query as the normal grid. */
$background_color: #040707;
$blue: #2a448b;
$purple: #8e277e;
$red: #832026;
$orange: #c37033;
$yellow: #cbc132;

#omf-main-menu-buy-tickets:hover {
  background-color: $orange;
}
#omf-main-menu-about-us:hover {
  background-color: $purple;
}
#omf-main-menu-about-event:hover {
  background-color: $blue;
}
#omf-main-menu-contact:hover {
  background-color: $yellow;
}
#omf-main-menu-faq:hover {
  background-color: $purple;
}
#omf-main-menu-facilities:hover {
 background-color: $blue;
}
#omf-main-menu-artists:hover {
  background-color: $yellow;
}
#main-menu {
  margin-bottom: 0;
  margin-left: 10px;
  margin-right: -10px;
  li {
    .first {
      margin-left: 10px;
    }
    .last {
     margin-right: 10px;
    }
    height: 45px;
    width: 134px;
    float: left;
    display: inline;
    margin: 0;
    a {
      padding-left: 0;
      display: block;
      height: 45px;
      width: 134px;
      display: block;
      background-color: transparent;
      font-size: 24px;
      text-align: center;
      text-decoration: none;
      font-family: 'Changa One', cursive;
      font-style: italic;
    }
  }
}

#block-system-main {
  .view-omf-artist-lineup {
    /* Loop through and assign left and right margins as 0
      for roughly 100 records */
    .views-row-1 {
      margin-left: 0;
    }
    
    /* All Other Rows */
    @for $i from 1 through 20 {
      $row_item_1: $i * 4 + 1;
      $row_item_4: $i * 4;
      .views-row-#{$row_item_1} {
        margin-left: 0;
      }      
      .views-row-#{$row_item_4} {
        margin-right: 0;
      }
    }
  }
}
