/* This file will hold styles that are loaded using the same media query as the narrow grid. */
#block-system-main {
  /* Loop through and assign left and right margins as 0
    for roughly 100 records */
  /* All Other Rows */ }
  #block-system-main .view-omf-artist-lineup .views-row img {
    height: auto!important; }
  #block-system-main .views-row-1 {
    margin-left: 0; }
  #block-system-main .views-row-5 {
    margin-left: 0; }
  #block-system-main .views-row-4 {
    margin-right: 0; }
  #block-system-main .views-row-9 {
    margin-left: 0; }
  #block-system-main .views-row-8 {
    margin-right: 0; }
  #block-system-main .views-row-13 {
    margin-left: 0; }
  #block-system-main .views-row-12 {
    margin-right: 0; }
  #block-system-main .views-row-17 {
    margin-left: 0; }
  #block-system-main .views-row-16 {
    margin-right: 0; }
  #block-system-main .views-row-21 {
    margin-left: 0; }
  #block-system-main .views-row-20 {
    margin-right: 0; }
  #block-system-main .views-row-25 {
    margin-left: 0; }
  #block-system-main .views-row-24 {
    margin-right: 0; }
  #block-system-main .views-row-29 {
    margin-left: 0; }
  #block-system-main .views-row-28 {
    margin-right: 0; }
  #block-system-main .views-row-33 {
    margin-left: 0; }
  #block-system-main .views-row-32 {
    margin-right: 0; }
  #block-system-main .views-row-37 {
    margin-left: 0; }
  #block-system-main .views-row-36 {
    margin-right: 0; }
  #block-system-main .views-row-41 {
    margin-left: 0; }
  #block-system-main .views-row-40 {
    margin-right: 0; }
  #block-system-main .views-row-45 {
    margin-left: 0; }
  #block-system-main .views-row-44 {
    margin-right: 0; }
  #block-system-main .views-row-49 {
    margin-left: 0; }
  #block-system-main .views-row-48 {
    margin-right: 0; }
  #block-system-main .views-row-53 {
    margin-left: 0; }
  #block-system-main .views-row-52 {
    margin-right: 0; }
  #block-system-main .views-row-57 {
    margin-left: 0; }
  #block-system-main .views-row-56 {
    margin-right: 0; }
  #block-system-main .views-row-61 {
    margin-left: 0; }
  #block-system-main .views-row-60 {
    margin-right: 0; }
  #block-system-main .views-row-65 {
    margin-left: 0; }
  #block-system-main .views-row-64 {
    margin-right: 0; }
  #block-system-main .views-row-69 {
    margin-left: 0; }
  #block-system-main .views-row-68 {
    margin-right: 0; }
  #block-system-main .views-row-73 {
    margin-left: 0; }
  #block-system-main .views-row-72 {
    margin-right: 0; }
  #block-system-main .views-row-77 {
    margin-left: 0; }
  #block-system-main .views-row-76 {
    margin-right: 0; }
  #block-system-main .views-row-81 {
    margin-left: 0; }
  #block-system-main .views-row-80 {
    margin-right: 0; }

#omf-main-menu-buy-tickets:hover {
  background-color: #c37033; }

#omf-main-menu-about-us:hover {
  background-color: #8e277e; }

#omf-main-menu-about-event:hover {
  background-color: #2a448b; }

#omf-main-menu-contact:hover {
  background-color: #cbc132; }

#omf-main-menu-faq:hover {
  background-color: #8e277e; }

#omf-main-menu-facilities:hover {
  background-color: #2a448b; }

#omf-main-menu-artists:hover {
  background-color: #cbc132; }

#main-menu {
  margin-bottom: 0;
  margin-left: 10px;
  margin-right: -10px; }
  #main-menu li {
    height: 25px;
    width: 100px;
    float: left;
    display: inline;
    margin: 0; }
    #main-menu li .first {
      margin-left: 10px; }
    #main-menu li .last {
      margin-right: 10px; }
    #main-menu li a {
      padding-left: 0;
      display: block;
      height: 25px;
      width: 100px;
      display: block;
      background-color: transparent;
      font-size: 16px;
      text-align: center;
      text-decoration: none;
      font-family: 'Changa One', cursive;
      font-style: italic; }

/*
* jcarousel mixin
* @author Lee Rowlands (rowlandsgroup.com)
* @param $selector carousel selector)
* @param $carousel_width 
* @param $carousel_height
* @param $carousel_padding 
* @param $item_width 
* @param $item_height 
* @param $item_margin 
* @param $button_width 
* @param $button_height 
* @param $button_image 
* @param $button_top
* @param $button_left 
* @param $button_right 
* @param $button_left_position (background position)
* @param $button_right_position 
* @param $button_left_position_hover 
* @param $button_right_position_hover 
* @param $button_left_position_disabled 
* @param $button_right_position_disabled
*/
/* Featured Video Carousel */
.view-omf-common-featured-images {
  /**
   *  Horizontal Buttons
   */ }
  .view-omf-common-featured-images .jcarousel-container-horizontal {
    width: 640px;
    height: 200px;
    padding: 0 40px;
    margin: auto; }
  .view-omf-common-featured-images .jcarousel-clip-horizontal {
    width: 640px;
    overflow: hidden; }
  .view-omf-common-featured-images .jcarousel-item {
    padding: 0;
    width: 255px;
    height: 200px;
    overflow: hidden;
    border: none;
    list-style: none; }
  .view-omf-common-featured-images .jcarousel-item-horizontal {
    margin: 0 32.5px; }
  .view-omf-common-featured-images .jcarousel-next,
  .view-omf-common-featured-images .jcarousel-prev {
    display: block;
    width: 25px;
    height: 250px;
    background-image: url(../images/carousel_arrows.png); }
  .view-omf-common-featured-images .jcarousel-prev-horizontal {
    position: absolute;
    top: -20px;
    left: 0px;
    background-position: 0 -500px; }
  .view-omf-common-featured-images .jcarousel-prev-horizontal:active,
  .view-omf-common-featured-images .jcarousel-prev-horizontal:hover {
    background-position: 0 -250px; }
  .view-omf-common-featured-images .jcarousel-prev-disabled-horizontal,
  .view-omf-common-featured-images .jcarousel-prev-disabled-horizontal:hover,
  .view-omf-common-featured-images .jcarousel-prev-disabled-horizontal:active {
    cursor: default;
    background-position: 0 0; }
  .view-omf-common-featured-images .jcarousel-next-horizontal {
    position: absolute;
    top: -20px;
    right: 0px;
    background-position: -25px -500px; }
  .view-omf-common-featured-images .jcarousel-next-horizontal:active,
  .view-omf-common-featured-images .jcarousel-next-horizontal:hover {
    background-position: -25px -250px; }
  .view-omf-common-featured-images .jcarousel-next-disabled-horizontal,
  .view-omf-common-featured-images .jcarousel-next-disabled-horizontal:hover,
  .view-omf-common-featured-images .jcarousel-next-disabled-horizontal:active {
    cursor: default;
    background-position: -25px 0; }

/* Featured Images Carousel */
.view-omf-common-featured-video {
  /**
   *  Horizontal Buttons
   */ }
  .view-omf-common-featured-video .jcarousel-container-horizontal {
    width: 640px;
    height: 200px;
    padding: 0 40px;
    margin: auto; }
  .view-omf-common-featured-video .jcarousel-clip-horizontal {
    width: 640px;
    overflow: hidden; }
  .view-omf-common-featured-video .jcarousel-item {
    padding: 0;
    width: 255px;
    height: 200px;
    overflow: hidden;
    border: none;
    list-style: none; }
  .view-omf-common-featured-video .jcarousel-item-horizontal {
    margin: 0 32.5px; }
  .view-omf-common-featured-video .jcarousel-next, .view-omf-common-featured-video .jcarousel-prev {
    display: block;
    width: 25px;
    height: 250px;
    background-image: url(../images/carousel_arrows.png); }
  .view-omf-common-featured-video .jcarousel-prev-horizontal {
    position: absolute;
    top: -20px;
    left: 0px;
    background-position: 0 -500px; }
  .view-omf-common-featured-video .jcarousel-prev-horizontal:active, .view-omf-common-featured-video .jcarousel-prev-horizontal:hover {
    background-position: 0 -250px; }
  .view-omf-common-featured-video .jcarousel-prev-disabled-horizontal, .view-omf-common-featured-video .jcarousel-prev-disabled-horizontal:hover, .view-omf-common-featured-video .jcarousel-prev-disabled-horizontal:active {
    cursor: default;
    background-position: 0 0; }
  .view-omf-common-featured-video .jcarousel-next-horizontal {
    position: absolute;
    top: -20px;
    right: 0px;
    background-position: -25px -500px; }
  .view-omf-common-featured-video .jcarousel-next-horizontal:active, .view-omf-common-featured-video .jcarousel-next-horizontal:hover {
    background-position: -25px -250px; }
  .view-omf-common-featured-video .jcarousel-next-disabled-horizontal, .view-omf-common-featured-video .jcarousel-next-disabled-horizontal:hover, .view-omf-common-featured-video .jcarousel-next-disabled-horizontal:active {
    cursor: default;
    background-position: -25px 0; }
