@import url(http://fonts.googleapis.com/css?family=Changa+One:400italic);
h1, h2, h3 {
  font-family: 'Changa One', cursive;
  font-style: italic;
  font-weight: normal; }

#page-title {
  font-size: 68px;
  font-family: 'Changa One', cursive;
  font-style: italic;
  text-shadow: -1px -1px 0px #eeeeee, 1px 2px 20px black; }

#omf-banner-title {
  color: #F2F2F2;
  background-color: rgba(203, 193, 50, 0.3);
  display: block;
  position: relative;
  padding-left: 5px;
  font-size: 24px;
  top: -48px;
  font-family: 'Changa One', cursive;
  font-style: italic; }

.node-type-omf-artist #page-title {
  display: none; }

.page-featured-artists #page-title {
  display: none; }
.page-featured-artists #zone-content {
  border-bottom: solid white 1px; }

#block-omf-artists-omf-common-facebook .block-title, #block-omf-artists-omf-common-facebook-2 .block-title, #block-omf-artists-omf-common-facebook-3 .block-title {
  display: none; }

/* Fix up the text alignment on the FAQ page */
#block-system-main .view-omf-faq-listing h2 {
  font-size: 56px; }
#block-system-main .view-omf-faq-listing .omf-faq-question, #block-system-main .view-omf-faq-listing .omf-faq-answer {
  margin-top: 10px;
  margin-bottom: 10px; }
#block-system-main .view-omf-faq-listing .views-row {
  border-bottom: solid 1px; }
#block-system-main .view-omf-facilities-listing .omf-facility-item {
  margin-top: 40px;
  margin-bottom: 20px; }
#block-system-main .view-omf-facilities-listing .views-row {
  border-bottom: solid 1px; }
#block-system-main .view-omf-facilities-listing img {
  max-width: 100%;
  width: 100%;
  height: auto; }

#artist-social-links {
  position: relative;
  margin-top: 20px;
  margin-bottom: 10px; }
  #artist-social-links .omf-youtube-link, #artist-social-links .omf-fb-link, #artist-social-links .omf-twitter-link, #artist-social-links .omf-myspace-link, #artist-social-links .omf-remote-link {
    display: inline;
    float: right;
    width: 32px;
    display: block;
    height: 32px;
    text-indent: -10000px;
    background: transparent url(../images/social_media.png) no-repeat top left; }
  #artist-social-links .omf-fb-link {
    background-position: -64px 0; }
  #artist-social-links .omf-twitter-link {
    background-position: -32px 0; }
  #artist-social-links .omf-myspace-link {
    background-position: -96px 0; }
  #artist-social-links .omf-remote-link {
    background-position: -128px 0; }

#block-boxes-omf-common-about-location {
  margin-top: 10px; }

.boxes-box-controls {
  display: none; }
