@import url(http://fonts.googleapis.com/css?family=Changa+One:400italic);
#block-system-main {
  .view-omf-artist-lineup {
    .views-row {
      .views-field-title {
        display: block;
        position: relative;
        font-size: 24px;
        top: -36px;
      }
      a {
        margin-left: 5px;
        text-decoration: none;
        display: block;
        font-family: 'Changa One', cursive;
        font-style: italic;
      }
      a:link,
      a:visited {
        color: darken(white, 5%);
        background-color: rgba(203, 193, 50, 0.5);
      }
      a:hover,
      a:active {
        color:white;
        background-color: rgba(203, 193, 50, 0.4);
      }
      img {
        width: 100%;
        max-width: 100%;
      }
    }
  }
}

/* Theme the front page featured artist slider */
#views_slideshow_cycle_main_omf_artist_featured-page {
  float: left;
  margin-top: 52px;
  max-width: 100%;
  width: 100%;
  height: auto;
  .views-slideshow-cycle-main-frame-row-item {
    position: relative;
  }
  .views_slideshow_cycle_slide {
    img {
      max-width: 100%;
      width: 100%;
      height: auto;
    }
  }
  .views-field-title {
    color: #F2F2F2;
    background-color: rgba(131, 32, 38, 0.5);
    display: block;
    padding-left: 5px;
    font-size: 24px;
    position: absolute;
    bottom: 0px;
    font-family: 'Changa One', cursive;
    font-style: italic;
    margin-bottom: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
  }
}

.views-slideshow-controls-bottom {
  position: absolute;
  top: 57px;
  z-index: 20;
  right: 5px;
  .views-slideshow-pager-field-item {
    float: left;
    opacity: 0.3;    
    &.active {
      opacity: 1;
    }
    &:hover {
      opacity: 1;
    }
  }
  .views-content-counter {
    width: 24px;
    height: 24px;
    background: transparent url('../images/carousel_dot.png') left;
    text-indent: -10000px;
    margin-left: 5px;
  }
}

/* Theme the video carousel */
#block-views-omf-common-featured-video-block {
  h2 {
    font-family: 'Changa One', cursive;
    font-style: italic;
    font-size: 62px;
    text-shadow: -1px -1px 0px #eee, 1px 2px 20px black;
  }
  margin-top: 50px;
  .views-field-field-omf-common-video {
    img {
      max-width: 100%;
      width: 100%;
      height: auto;
    }
  }
}
