@import url(http://fonts.googleapis.com/css?family=Changa+One:400italic);
#block-system-main .view-omf-artist-lineup .views-row .views-field-title {
  display: block;
  position: relative;
  font-size: 24px;
  top: -36px; }
#block-system-main .view-omf-artist-lineup .views-row a {
  margin-left: 5px;
  text-decoration: none;
  display: block;
  font-family: 'Changa One', cursive;
  font-style: italic; }
#block-system-main .view-omf-artist-lineup .views-row a:link,
#block-system-main .view-omf-artist-lineup .views-row a:visited {
  color: #f2f2f2;
  background-color: rgba(203, 193, 50, 0.5); }
#block-system-main .view-omf-artist-lineup .views-row a:hover,
#block-system-main .view-omf-artist-lineup .views-row a:active {
  color: white;
  background-color: rgba(203, 193, 50, 0.4); }
#block-system-main .view-omf-artist-lineup .views-row img {
  width: 100%;
  max-width: 100%; }

/* Theme the front page featured artist slider */
#views_slideshow_cycle_main_omf_artist_featured-page {
  float: left;
  margin-top: 52px;
  max-width: 100%;
  width: 100%;
  height: auto; }
  #views_slideshow_cycle_main_omf_artist_featured-page .views-slideshow-cycle-main-frame-row-item {
    position: relative; }
  #views_slideshow_cycle_main_omf_artist_featured-page .views_slideshow_cycle_slide img {
    max-width: 100%;
    width: 100%;
    height: auto; }
  #views_slideshow_cycle_main_omf_artist_featured-page .views-field-title {
    color: #F2F2F2;
    background-color: rgba(131, 32, 38, 0.5);
    display: block;
    padding-left: 5px;
    font-size: 24px;
    position: absolute;
    bottom: 0px;
    font-family: 'Changa One', cursive;
    font-style: italic;
    margin-bottom: 10px;
    padding-top: 5px;
    padding-bottom: 5px; }

.views-slideshow-controls-bottom {
  position: absolute;
  top: 57px;
  z-index: 20;
  right: 5px; }
  .views-slideshow-controls-bottom .views-slideshow-pager-field-item {
    float: left;
    opacity: 0.3; }
    .views-slideshow-controls-bottom .views-slideshow-pager-field-item.active {
      opacity: 1; }
    .views-slideshow-controls-bottom .views-slideshow-pager-field-item:hover {
      opacity: 1; }
  .views-slideshow-controls-bottom .views-content-counter {
    width: 24px;
    height: 24px;
    background: transparent url("../images/carousel_dot.png") left;
    text-indent: -10000px;
    margin-left: 5px; }

/* Theme the video carousel */
#block-views-omf-common-featured-video-block {
  margin-top: 50px; }
  #block-views-omf-common-featured-video-block h2 {
    font-family: 'Changa One', cursive;
    font-style: italic;
    font-size: 62px;
    text-shadow: -1px -1px 0px #eeeeee, 1px 2px 20px black; }
  #block-views-omf-common-featured-video-block .views-field-field-omf-common-video img {
    max-width: 100%;
    width: 100%;
    height: auto; }
